version: '3'
services: 
  web: 
    image: endgfw/web:stable
    container_name: end-gfw-web
    environment:
      - NODE_PORT=8081 #
    ports:
      - '80:80'
      - '8081:80' #8081可以修改为3000-65535之间的数字， 但必须和 NODE_PORT 一致
    restart: always
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - ./custom:/app/temp/public/temp/custom/
      - /var/run/docker.sock:/var/run/docker.sock
    command: end-gfw-web
